
<center>
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal-<%= conteudo.subtitulo.parameterize %>-1" onclick="inicia()">
  <%= conteudo.subtitulo %>
  </button>

  <br><br>

  <% index = 1 %>
  <% conteudo.aulas.each do |aula| %>






  <!-- Modal Page index-->
  <div class="modal fade" id="modal-<%= conteudo.subtitulo.parameterize %>-<%= index %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel"> <%= aula.titulo %> </h4>
          </div>
          <div class="modal-body">
          <div align="justify">
          </div>
          <br>
          <center>

            
            
                        <%=image_tag(aula.texto, alt: "Aula", width: "500px")%>


          </center>
          </div>
          <div class="modal-footer">
            <% if index > 1 %>
              <button type="button" class="btn btn-default btn-prev" data-toggle="modal" data-target="#modal-<%= conteudo.subtitulo.parameterize %>-<%= index - 1 %>" data-dismiss="modal"> <= Prev</button>
            <% end %>
            <% if index == conteudo.aulas.size - 1 %>
              <button type="button" class="btn btn-default btn-next" data-toggle="modal" data-target="#modal-<%= conteudo.subtitulo.parameterize %>-<%= index + 1 %>" onclick="closenext()" data-dismiss="modal">Next => </button>
            <% end %>

             <%= label_tag :tempo, class: "form-control", id: "cronometro" do %>
               <span id="counter">00:00:00</span>
             <% end %>

             <button type="button" class="btn btn-default" data-dismiss="modal" onclick="para()">Fechar</button>
          </div>

        </div>
      </div>
    </div>



    <% index += 1 %>
  <% end %>


<br><br>

</center>



