<p id="notice"><%= notice %></p>

<h1>Administradors</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @administradors.each do |administrador| %>
      <tr>
        <td><%= administrador.nome %></td>
        <td><%= administrador.email %></td>
        <td><%= administrador.password %></td>
        <td><%= link_to 'Show', administrador %></td>
        <td><%= link_to 'Edit', edit_administrador_path(administrador) %></td>
        <td><%= link_to 'Destroy', administrador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Administrador', new_administrador_path %>
