<script>
function logou(){
  alert ("Seja bem vindo!");  
}
</script>

<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ambiente Virtual de Aprendizagem</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, "aaaaaaaaaaaaaaaaaaaa", class: "alert alert-info") %>

    <% end %>
    <div class="container">

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>


      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>